* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* Utility classes */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
body {
  background: rgb(20, 25, 24);
  color: white;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* menu left */
@media all and (max-width: 768px) {
  .logo-container p {
    display: none;
  }
  .logo-container img {
    height: 30px;
  }
  .nav-left p {
    display: none;
  }
  .playlist p {
    display: none;
  }
  .playlist h1 {
    display: none;
  }
  .playlist i {
    font-size: 35px;
  }
  .playlist-name {
    font-size: 0;
  }
  .profile p {
    font-size: 0;
  }
  .install-app p {
    font-size: 0;
  }
  .install-app hr {
    display: none;
  }
  .main_menu {
    max-width: 70px;
  }
  .subscribe_banner {
    width: 100%;
  }
  .covers_section {
    width: 100%;
  }
  .title-album {
    font-size: 0px;
  }
  .description-album {
    font-size: 0px;
  }
  .fa-heart {
    font-size: 0px;
  }

  .fa-folder {
    font-size: 0px;
  }
  .volume {
    display: none;
  }
}

.logo {
  height: 50px;
  margin: 20px;
}
.logo-container {
  position: relative;
}
.logo-container p {
  left: 80px;
  top: 25%;
  position: absolute;
  font-size: 30px;
}
.nav-left-link {
  position: relative;
}
.nav-left img {
  height: 30px;
  margin-left: 20px;
}
.nav-left p {
  position: absolute;
  left: 60px;
  top: 20%;
  color: white;
  padding-left: 20px;
}
.nav-left input {
  background: black;
  border: 0px;
  color: white;
  font-size: 15px;
}
.nav-left-link:hover {
  border-left: 3px solid yellowgreen;
}

/* playlist */
.playlist {
  margin-bottom: 100px;
}
.playlist h1 {
  font-weight: normal;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 50px;
}
.fa-plus-square {
  font-size: 40px;
  margin-left: 20px;
  color: white;
}
.nav-left-playlist p {
  left: 50px;
  position: absolute;
  top: 25%;
  color: white;
  padding-left: 20px;
}
.nav-left-playlist {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.playlist-name {
  display: block;
  color: grey;
  margin-left: 20px;
  margin-top: 20px;
}
.playlist-name:hover {
  color: white;
}

/* install app */
.install-app {
  margin-left: 20px;
  position: relative;
}
.download-icon {
  height: 20px;
}
.install-app p {
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  color: grey;
}
.install-app hr {
  margin-top: 10px;
  width: 80%;
  opacity: 50%;
}
.profile-icon {
  height: 30px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 50px;
  background: grey;
}
.profile {
  position: relative;
  margin-left: 20px;
}
.profile p {
  position: absolute;
  top: 45%;
  margin-left: 40px;
  color: white;
  font-weight: bold;
}

/* subscribe banner */
.subscribe_banner {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: rgb(8, 11, 18);
  z-index: 10;
}
.subscribe_banner a {
  position: absolute;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 30px;
  margin-top: 15px;
  right: 0;
  margin-right: 20px;
  font-weight: bold;
}
.subscribe_banner a:hover {
  background: white;
  color: black;
}

/* nav */
nav {
  text-align: center;
  margin-top: 20px;
}
nav a {
  color: grey;
  padding: 20px 30px;
  font-weight: bold;
}
nav a:hover {
  border-bottom: 5px solid yellowgreen;
}

#site_content{
  height: calc(100% - 60px);
}
aside.main_menu {
  width: 300px;
  background-color: black;
  position: relative;
  z-index: 20;
}

/* recently played */
.covers_section {
  background: rgb(20, 25, 24);
  padding: 20px;;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
  width: calc(100% - 300px);
}
.cover img {
  height: 200px;
  margin: 10px 20px;
}
.cover h1 {
  text-align: center;
  color: white;
  font-size: 20px;
}
.cover p {
  margin-top: 5px;
  text-align: center;
  color: grey;
  font-size: 15px;
  font-weight: bold;
}
.cover a:hover {
  filter: grayscale(100%);
}

/* created for */
.playlist-title {
  margin-top: 40px;
  margin-left: 20px;
}
.playlist-description {
  margin-left: 20px;
  font-size: 12px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.artist {
  border-radius: 50%;
}

/* Footer */
footer {
  background: rgb(40, 40, 40);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

/* artist */
.album-image {
  height: 40px;
  margin: 20px;
}
.album {
  position: relative;
}
.title-album {
  color: white;
  display: inline-block;
  bottom: 50%;
  position: absolute;
}
.description-album {
  display: inline-block;
  bottom: 30%;
  position: absolute;
  color: grey;
}
.fa-heart {
  position: absolute;
  top: 40%;
  padding-left: 125px;
  color: white;
}
.fa-folder {
  color: white;
  position: absolute;
  top: 40%;
  margin-left: 150px;
}

/* player */
.player {
  text-align: center;
  margin-bottom: 10px;
}
.fa-play-circle {
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  color: white;
}
.fa-forward {
  padding-left: 20px;
  font-size: 20px;
  color: white;
}
.fa-backward {
  padding-right: 20px;
  font-size: 20px;
  color: white;
}
.fa-redo-alt {
  padding-left: 20px;
  font-size: 15px;
  color: white;
}
.fa-random {
  padding-right: 20px;
  font-size: 15px;
  color: white;
}
.time {
  text-align: center;
}
.start-time {
  display: inline-block;
  padding-right: 20px;
}
.end-time {
  display: inline-block;
  padding-left: 20px;
}
.time-line {
  border: 2px solid grey;
  width: 300px;
  display: inline-block;
}
@media all and (max-width: 768px) {
  .time-line {
    width: 150px;
  }
}

/* volume */
.volume {
  text-align: center;
}
.volume i {
  padding: 40px 10px;
  color: white;
}
.volume-line {
  border: 2px solid white;
  display: inline-block;
  width: 100px;
  margin-bottom: 5px;
}
